<mat-stepper linear="true" #stepper [orientation]="(stepperOrientation | async)!">
	<mat-step [completed]="isDeliverCompleted()" state="deliver">
		<div class="form-container">
			@if (savedAddress().length > 0 && !createNewDeliver()) {
			<mat-form-field>
				<mat-label>Saved Address</mat-label>
				<mat-select [(ngModel)]="selectedDeliver">
					@for (deliver of savedAddress(); track deliver.id) {
					<mat-option [value]="deliver.id">
						{{ deliver.first_name }} {{ deliver.last_name }}, {{ deliver.address }}, {{ deliver.city }}, {{
						deliver.zip_code }}, {{ deliver.country }}
						<mat-icon (click)="deleteDeliver(deliver.id); $event.preventDefault()"
							matSuffix>delete</mat-icon>
					</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<div class="step-actions">
				<button mat-button (click)="createNewDeliver.set(true)">Enter New</button>
				<button type="submit" mat-button matStepperNext [disabled]="selectedDeliver == ''">Next</button>
			</div>
			}
			@if (savedAddress().length == 0 || createNewDeliver()) {
			<form [formGroup]="firstFormGroup" (ngSubmit)="onDeliverSubmit($event)">
				<ng-template matStepLabel>Delivery</ng-template>
				<mat-form-field>
					<mat-label>First Name</mat-label>
					<input matInput placeholder="Mario" formControlName="first_name" required>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Last Name</mat-label>
					<input matInput placeholder="Rossi" formControlName="last_name" required>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Address</mat-label>
					<input matInput placeholder="Via Roma 10" formControlName="address" required>
				</mat-form-field>
				<mat-form-field>
					<mat-label>City</mat-label>
					<input matInput placeholder="Rome" formControlName="city" required>
				</mat-form-field>
				<mat-form-field>
					<mat-label>ZIP Code</mat-label>
					<input type="number" matInput placeholder="12345" formControlName="zip_code" required>
					@if (firstFormGroup.hasError('pattern') && !firstFormGroup.hasError('required')) {
					<mat-error>Please enter a valid ZIP code</mat-error>
					}
					@if (firstFormGroup.hasError('required')) {
					<mat-error>ZIP code is <strong>required</strong></mat-error>
					}
				</mat-form-field>
				<mat-form-field>
					<mat-label>Country</mat-label>
					<input matInput placeholder="Italy" formControlName="country" required>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Mobile</mat-label>
					<input type="tel" matInput placeholder="333 11 22 444" formControlName="tel">
					@if (firstFormGroup.hasError('pattern')) {
					<mat-error>Please enter a valid number</mat-error>
					}
				</mat-form-field>
				<mat-slide-toggle formControlName="save_address"> Save this address </mat-slide-toggle>
				<div class="step-actions">
					<button type="submit" mat-button matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
				</div>
			</form>
			}
		</div>
	</mat-step>
	<mat-step [completed]="isPaymentCompleted()" label="Payment" state="payment">
		<div class="form-container">
			<!-- Hide all the content if TON is connected -->
			@if(!tonConnectUI?.connected) {
			<!-- Show saved payments if there are any -->
			@if (savedPayments().length > 0 && !createNewPayment()) {
			<mat-form-field>
				<mat-label>Saved Method</mat-label>
				<mat-select [(ngModel)]="selectedPayment">
					@for (payment of savedPayments(); track payment.id) {
					<mat-option [value]="payment.id">
						{{ payment.name }}, {{ payment.cardNumber!.slice(0,4) }} **** **** ****
						<mat-icon (click)="deletePayment(payment.id); $event.preventDefault()"
							matSuffix>delete</mat-icon>
					</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<div class="step-actions">
				<button mat-button matStepperPrevious>Back</button>
				<button mat-button (click)="createNewPayment.set(true)">Enter New</button>
				<button type="submit" mat-button matStepperNext [disabled]="selectedPayment == ''"
					(click)="sendPayment($event)">Next</button>
			</div>
			}
			<!-- Show payment form if there are no saved payments -->
			@if (savedPayments().length == 0 || createNewPayment()) {
			<form [formGroup]="secondFormGroup" (ngSubmit)="onPaymentSubmit($event)">
				<mat-form-field>
					<mat-label>Cardholder Name</mat-label>
					<input matInput formControlName="full_name" placeholder="Mario Rossi" required>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Card Number</mat-label>
					<input type="text" matInput formControlName="number" placeholder="1111 2222 3333 4444" required>
					@if (firstFormGroup.hasError('pattern') && !firstFormGroup.hasError('required')) {
					<mat-error>Please enter a valid number</mat-error>
					}
					@if (firstFormGroup.hasError('required')) {
					<mat-error>Card number is <strong>required</strong></mat-error>
					}
				</mat-form-field>
				<div class="date-input">
					<mat-label>Card Expiry</mat-label>
					<div class="inline-fields">
						<mat-form-field>
							<mat-label>Month</mat-label>
							<input type="text" matInput formControlName="exp_month" placeholder="MM" required>
							@if (firstFormGroup.hasError('pattern') && !firstFormGroup.hasError('required')) {
							<mat-error>Please enter a valid month</mat-error>
							}
							@if (firstFormGroup.hasError('required')) {
							<mat-error>Month is <strong>required</strong></mat-error>
							}
						</mat-form-field>
						<mat-form-field>
							<mat-label>Year</mat-label>
							<input type="text" matInput formControlName="exp_year" placeholder="YYYY" required>
							@if (firstFormGroup.hasError('pattern') && !firstFormGroup.hasError('required')) {
							<mat-error>Please enter a valid year</mat-error>
							}
							@if (firstFormGroup.hasError('required')) {
							<mat-error>Year is <strong>required</strong></mat-error>
							}
						</mat-form-field>
					</div>
				</div>
				<mat-form-field>
					<mat-label>CVV</mat-label>
					<input type="text" matInput formControlName="cvv" placeholder="111" required>
					@if (firstFormGroup.hasError('pattern') && !firstFormGroup.hasError('required')) {
					<mat-error>Please enter a valid CVV</mat-error>
					}
					@if (firstFormGroup.hasError('required')) {
					<mat-error>CVV is <strong>required</strong></mat-error>
					}
				</mat-form-field>
				<mat-slide-toggle formControlName="save_card"> Save this payment method </mat-slide-toggle>
				<div class="step-actions">
					<button mat-button matStepperPrevious>Back</button>
					<button type="submit" mat-button [disabled]="secondFormGroup.invalid" matStepperNext
						(click)="sendPayment($event)">Next</button>
				</div>
			</form>
			}
			}
			<div id="ton-connect"></div>
			<button type="submit" mat-button matStepperNext [hidden]="!tonConnectUI?.connected"
				(click)="sendPayment($event)">Use TON</button>
			<!-- Button is hidden if TON is not connected -->
		</div>
	</mat-step>
	<mat-step label="Receipt" state="receipt">
		<div class="form-container">
			@switch (paymentStatus) {
			@case ('success') {
			<p>You are now done.</p>
			}
			@case ('error') {
			<p style="color: crimson;">There was an error with your payment.</p>
			}
			@case ('loading') {
			<p>Loading...</p>
			}
			@default {
			<p>Something went wrong.</p>
			}
			}
			<div class="step-actions">
				<button mat-button matStepperPrevious>Back</button>
				<button mat-button (click)="stepper.reset()">Reset</button>
			</div>
		</div>
	</mat-step>
	<ng-template matStepperIcon="deliver">
		<mat-icon>local_shipping</mat-icon>
	</ng-template>
	<ng-template matStepperIcon="payment">
		<mat-icon>credit_card</mat-icon>
	</ng-template>
	<ng-template matStepperIcon="receipt">
		<mat-icon>receipt_long</mat-icon>
	</ng-template>
</mat-stepper>