header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: #f8f8f8;
}

.left-container {
	display: flex;
	align-items: center;
}

.left-container img {
	margin-right: 10px;
}

.left-container div {
	display: flex;
	align-items: center;
}

.search-container {
	flex-grow: 2;
	/* Increase flex-grow to take more space */
	display: flex;
	justify-content: center;
}

.search-container app-search {
	width: 100%;
	max-width: 600px;
}

.cart-preview {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
	text-decoration: none;
	/* Remove underline */
	color: inherit;
	/* Inherit text color */
}

/* Normal toolbar styles */
.toolbarNav {
	width: 100%;
	background-color: #3f51b5;
	/* Example background color */
	color: white;
	display: flex;
	justify-content: space-between;
	/* Space elements to the sides */
	align-items: center;
	padding: 0 16px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	height: 56px;
	/* Standard toolbar height */
}

/* Example icon styles */
.example-icon {
	color: white;
}

.example-spacer {
	flex: 1 1 auto;
}