<!-- <header>
	<div class="left-container">
		<a routerLink="/">
			<img src="favicon.ico" alt="A todo list" />
		</a>
		<div>
			<h1>e-Com in Telegram</h1>
		</div>
	</div>
	<div class="search-container">
		<app-search />
	</div>
	<div class="cart-preview">
		<a routerLink="/cart">
			<app-cart-preview />
		</a>
	</div>
</header> -->

<mat-toolbar class="toolbarNav">
	<span>Amazing</span>
	<span class="example-spacer"></span>
	<button mat-icon-button class="example-icon" aria-label="Search" routerLink="/search">
		<mat-icon>search</mat-icon>
	</button>
</mat-toolbar>