header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: #f8f9fa;
	border-bottom: 1px solid #e0e0e0;
}

.left-container {
	display: flex;
	align-items: center;
}

.left-container a img {
	height: 40px;
	margin-right: 10px;
	/* Add space between logo and title */
}

.left-container div {
	display: flex;
	flex-direction: column;
}