mat-card {
	margin: 20px;
}

.fab-bottom-right {
	position: fixed;
	bottom: 74px;
	right: 16px;
	z-index: 1000;
	/* Ensure it is above other elements */
}

mat-form-field {
	width: 100%;
}

.centered {
	text-align: center;
	margin: 20px;
}

/* Add this to your styles.css or relevant CSS file */
@media (min-width: 768px) {
	mat-card {
		margin: 40px;
		/* Increase margin on larger screens */
		width: calc(33% - 40px);
		/* Adjust width to fit three cards in a row */
		display: inline-block;
		/* Align cards next to each other */
	}

	.centered {
		text-align: center;
		margin: 40px 0;
		/* Adjust vertical spacing */
	}
}