.product-container {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.admin-commands {
	text-align: center;
	margin: 20px;
	padding: 20px;
}

.admin-commands-actions {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-image,
.product-card {
	width: 100%;
}

.product-image {
	margin: 20px 0;
}

.product-card {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.product-card-actions {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: auto;
}

.secondary-actions {
	flex-grow: 1;
	margin: 0 10px;
}

.cart-button {
	flex-grow: 1;
}

@media (min-width: 768px) {
	.product-container {
		flex-direction: row;
	}

	.product-image,
	.product-card {
		width: 50%;
	}

	.product-card {
		margin: 20px;
	}
}