<div>
	<img src="failed-loading.svg" alt="Product Image" class="product-image">
</div>
<mat-card>
	<div>
		<h2>
			{{product().name}}
		</h2>
		<h3>
			<b> {{product().price | currency:'EUR'}} </b>
		</h3>
		<h5>
			{{product().brand}}
		</h5>
		<p>
			{{product().description}}
		</p>
	</div>
</mat-card>

<mat-card>
	<div>
		<p>Admin commands:</p>
		<button mat-button (click)="editProduct(product())">Edit</button>
		<button mat-button class="mat-warn" (click)="deleteProduct(product())">Delete</button>
	</div>
</mat-card>


<button mat-fab extended class="fab-bottom-right" (click)="addToCart(product())">
	<mat-icon>add_shopping_cart</mat-icon>
	Add to cart
</button>