<div class="product-container">
	<div class="image-container">
		<img #productImage [src]="product().imageUrl" (error)="productImage.src='failed-loading.svg'"
			alt="Product Image" class="product-image">
	</div>
	<mat-card class="product-card">
		<div>
			<h2>
				{{product().name}}
			</h2>
			<h3>
				<b> {{product().price | currency:'EUR'}} </b>
			</h3>
			<h5>
				{{product().brand}}
			</h5>
			<p>
				@if (product().available) {
				@if (product().unitsInStock < 10) { <span class="mat-warn">
					Availability: just {{product().unitsInStock}}
					</span>
					}
					@else {
					<span>
						Availability: {{product().unitsInStock}}
					</span>
					}
					}
					@else {
					<span class="mat-warn">
						Not available
					</span>
					}
			</p>
			<p>
				{{product().description}}
			</p>
			<p>
				Release date: {{product().releaseDate | date:'mediumDate'}}
			</p>
		</div>
		<mat-card-actions class="product-card-actions">
			@if(getItemInCart(product()) === undefined) {
			<button mat-flat-button extended class="cart-button" (click)="onAddToCart($event, product())"
				[disabled]="!product().available">
				<mat-icon>add_shopping_cart</mat-icon>
				Add to cart
			</button>
			} @else {
			<button mat-icon-button (click)="onRemoveFromCart($event, product())">
				<mat-icon>remove</mat-icon>
			</button>
			{{getItemInCart(product())!.quantity}}
			<button mat-icon-button (click)="onAddToCart($event, product())">
				<mat-icon>add</mat-icon>
			</button>
			}
		</mat-card-actions>
		<mat-card-actions class="product-card-actions">
			<button mat-stroked-button class="secondary-actions" (click)="share(product())">
				<mat-icon>share</mat-icon>
				Share
			</button>
			<button mat-stroked-button class="secondary-actions" (click)="addToList(product())">
				<mat-icon>bookmark_add</mat-icon>
				Add to list
			</button>
		</mat-card-actions>
	</mat-card>
</div>

<mat-card class="admin-commands">
	<div>
		<p>Admin commands:</p>
	</div>
	<mat-card-actions class="admin-commands-actions">

		<button mat-button (click)="editProduct(product())">Edit</button>
		<button mat-button class="mat-warn" (click)="deleteProduct(product())">Delete</button>
	</mat-card-actions>

</mat-card>