img {
	width: 100%;
}

.example-card {
	max-width: 200px;
}

.cart-button {
	width: 100%;
}

.product-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
}

.fab-bottom-right {
	position: fixed;
	bottom: 64px;
	right: 16px;
	z-index: 1000;
	/* Ensure it is above other elements */
}