<mat-paginator (page)="handlePageEvent($event)" [length]="products().length" [pageSize]="pageSize()"
	[pageIndex]="pageIndex()" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" />

<h2 class="product-header">
	@if (key()) {
	Results for: {{ key() }}
	} @else {
	All Products
	}
</h2>
<app-products-grid [products]="products().slice(pageIndex()*pageSize(), (pageIndex()+1)*pageSize())" />

<button mat-fab extended class="fab-bottom-right" (click)="addProduct()">
	<mat-icon>add</mat-icon>
	New Product
</button>

<mat-paginator (page)="handlePageEvent($event)" [length]="products().length" [pageSize]="pageSize()"
	[pageIndex]="pageIndex()" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" />