<mat-paginator (page)="handlePageEvent($event)" [length]="products().length" [pageSize]="pageSize()"
	[pageIndex]="pageIndex()" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" />

<h2 class="product-header">
	@if (key()) {
	Results for: {{ key() }}
	} @else {
	All Products
	}
</h2>
<mat-grid-list [cols]="cols()" rowHeight="6:10">
	@for (p of products().slice(pageIndex()*pageSize(), (pageIndex()+1)*pageSize()); track p.id) {
	@defer (on viewport) {
	<mat-grid-tile>
		<app-product-card [product]="p" />
	</mat-grid-tile>
	} @placeholder {
	<mat-grid-tile>
		<p>
			{{ p.name }} - {{ p.price | currency: 'EUR' }}
		</p>
	</mat-grid-tile>
	}
	}
</mat-grid-list>

<button mat-fab extended class="fab-bottom-right" (click)="addProduct()">
	<mat-icon>add</mat-icon>
	New Product
</button>

<mat-paginator (page)="handlePageEvent($event)" [length]="products().length" [pageSize]="pageSize()"
	[pageIndex]="pageIndex()" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" />