<!-- <form [formGroup]="productForm" (ngSubmit)="onSubmit($event)">
	<div>
		<label for="name">Product Name:</label>
		<input type="text" id="name" formControlName="name" required>
		@if (productForm.get("name")?.invalid && productForm.get('name')?.touched) {
		<div>
			<small class="error">Product Name is required</small>
		</div>
		}
	</div>
	<div>
		<label for="description">Description:</label>
		<textarea id="description" formControlName="description" required maxlength="500" rows="4" cols="30"></textarea>
		@if (productForm.get("description")?.invalid && productForm.get('description')?.touched) {
		<div>
			<small class="error">Description is required</small>
		</div>
		}
	</div>
	<div>
		<label for="brand">Brand:</label>
		<input type="text" id="brand" formControlName="brand" required>
		@if (productForm.get("brand")?.invalid && productForm.get('brand')?.touched) {
		<div>
			<small class="error">Brand is required</small>
		</div>
		}
	</div>
	<div>
		<label for="price">Price (€):</label>
		<input type="number" id="price" min="0" formControlName="price" step="0.01" required>
		@if (productForm.get("price")?.invalid && productForm.get('price')?.touched) {
		<div>
			<small class="error">Price is required</small>
		</div>
		}
	</div>
	<div>
		<label for="category">Category:</label>
		<input type="text" id="category" formControlName="category" required>
		@if (productForm.get("category")?.invalid && productForm.get('category')?.touched) {
		<div>
			<small class="error">Category is required</small>
		</div>
		}
	</div>
	<div>
		<label for="releaseDate">Release Date:</label>
		<input type="date" id="releaseDate" formControlName="releaseDate" required>
		@if (productForm.get("releaseDate")?.invalid && productForm.get('releaseDate')?.touched) {
		<div>
			<small class="error">Release Date is required</small>
		</div>
		}
	</div>
	<div>
		<label for="available">Available:</label>
		<input type="checkbox" id="available" formControlName="available">
	</div>
	<div>
		<label for="unitsInStock">Units in Stock:</label>
		<input type="number" id="unitsInStock" min="0" formControlName="unitsInStock" required>
		@if (productForm.get("unitsInStock")?.invalid && productForm.get('unitsInStock')?.touched) {
		<div>
			<small class="error">Units in Stock is required</small>
		</div>
		}
	</div>
	<div>
		@if (imageUrl() !== '') {
		<img class="small-img" [src]="imageUrl()" alt="product image">
		}
		<label for="imageData">Image:</label>
		<input type="file" accept="image/*" id="imageData" (change)="onFileChange($event)">
		@if (productForm.get("imageData")?.invalid) {
		<div>
			<small class="error">Image is required</small>
		</div>
		}
	</div>
	<div>
		<button type="submit" [disabled]="productForm.invalid">Submit</button>
	</div>
</form> -->

<form [formGroup]="productForm" (ngSubmit)="onSubmit($event)">
	<mat-form-field>
		<mat-label>Product Name</mat-label>
		<input matInput type="text" formControlName="name" required>
		@if (productForm.get("name")?.invalid) {
		<mat-error>Product Name is required</mat-error>
		}
	</mat-form-field>
	<mat-form-field>
		<mat-label>Description</mat-label>
		<textarea matInput formControlName="description" required maxlength="500" rows="4" cols="30"></textarea>
		@if (productForm.get("description")?.invalid) {
		<mat-error>Description is required</mat-error>
		}
	</mat-form-field>
	<mat-form-field>
		<mat-label>Brand</mat-label>
		<input matInput type="text" formControlName="brand" required>
		@if (productForm.get("brand")?.invalid) {
		<mat-error>Brand is required</mat-error>
		}
	</mat-form-field>
	<mat-form-field>
		<mat-label>Price</mat-label>
		<input matInput type="number" formControlName="price" min="0" step="0.01" required>
		<span matTextPrefix>€&nbsp;</span>
		@if (productForm.get("price")?.invalid) {
		<mat-error>Price is required</mat-error>
		}
	</mat-form-field>
	<mat-form-field>
		<mat-label>Category</mat-label>
		<input matInput type="text" formControlName="category" required>
		@if (productForm.get("category")?.invalid) {
		<mat-error>Category is required</mat-error>
		}
	</mat-form-field>
	<mat-form-field>
		<mat-label>Release Date</mat-label>
		<input matInput [matDatepicker]="picker" formControlName="releaseDate">
		<mat-hint>MM/DD/YYYY</mat-hint>
		<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker touchUi #picker></mat-datepicker>
		@if (productForm.get("releaseDate")?.invalid) {
		<mat-error>Release Date is required</mat-error>
		}
	</mat-form-field>
	<mat-checkbox formControlName="available">Available</mat-checkbox>
	<mat-form-field>
		<mat-label>Units in Stock</mat-label>
		<input matInput type="number" formControlName="unitsInStock" min="0" required>
		@if (productForm.get("unitsInStock")?.invalid) {
		<mat-error>Units in Stock is required</mat-error>
		}
	</mat-form-field>

	<button mat-raised-button type="submit" [disabled]="productForm.invalid">Submit</button>
</form>