@if (user) {
<div class="welcome-message">
	<h1>Ciao {{user.first_name}}</h1>
</div>

<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon class="panel-icon">account_circle</mat-icon>
				Profile
			</mat-panel-title>
		</mat-expansion-panel-header>
		<p> Username: {{user.username}} </p>
		<p> Nome: {{user.first_name}} {{user.last_name}} </p>
		<p> User ID: {{user.id}} </p>
	</mat-expansion-panel>
</mat-accordion>

} @else {
<div class="welcome-message">
	<h1>Benvenuto</h1>
	<p>Per favore, accedi all'app tramite telegram per un'esperienza ottimizzata</p>
</div>

}